*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: #a9cbd6;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 150px;
    background-color: #D8E5EA;
}
img.pokedex-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
}
div.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
div.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    color:#333333;
    background-color: #cc2121;
    width: 220px;
    height: 300px;
    box-shadow: 5px 5px 3px 1px #d64444;
    padding: 50px;
}
div.card-container:hover{
    transform: scale(1.1);
    background-color: #d64444;
}
div.header-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 25px;
}
div.card-name{
    display: flex;
    color: white;
    font-size: 35px;
    align-items: center;
    width: 220px;
    border-radius: 5px;
    justify-content: center;
    background-color: #9BCC50;
}
div.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img.card-img{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.footer-card{
    margin-top: 20px;
    font-size: 25px;
}
div.data-card{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items:inherit;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}